/* GENERAL RULES */

body {
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  background-color: #22303f;
  width: 100%;
}

.logo {
  width: 95%;
  margin: auto;
}

#imglogo {
  width: 8rem;
  margin: 10px 0px;
}

nav {
  background-color: #364858;
  color: white;
  padding: 10px 0px;
  width: 100%;
  font-family: sans-serif;
}

.spanav {
  width: 95%;
  margin: auto;
}

span {
  margin-right: 20px;
}

nav .spanav a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

/* ORANGE DIV */

.orangeDiv {
  background-color: #f56403;
  width: 95%;
  margin: 25px auto;
  color: white;
  text-align: center;
  padding: 10px 0px;
}

.orangeDiv p {
  font-family: sans-serif;
  font-weight: 100;
}

/* HOLIDAY DIV */

.holidayGift {
  text-align: center;
  color: white;
  width: 95%;
  margin: 25px auto;
  background-image: url(./assets/bg-image.png);
  padding: 80px 0px;
  font-weight: 800;
}

.giftText {
  margin-bottom: 15px;
  font-size: 2rem;
}

/* CARDS DIV */

.whitebg {
  background-color: white;
  width: 95%;
  margin: auto;
}

.whitebg .generalcards .whiteTextBg a {
  text-decoration: none;
}

.whiteTextBg {
  padding: 10px 0px 10px 10px;
  display: flex;
  font-size: 1.2rem;
}

#blutext {
  color: #205969;
  margin-left: 20px;
  font-weight: 550;
  font-size: 1rem;
  margin-top: 3px;
}

.cards {
  display: inline-flex;
  padding: 10px 10px 20px 10px;
  justify-content: center;
}

.imgcards {
  box-shadow: 5px 4px 15px -1px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  width: 284px;
  height: 325px;
  object-fit: cover;
}

.whitebg {
  text-align: center;
}

/* OCULUS DIV */

.oculusbg {
  background-image: url(./assets/img_9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin: 30px auto 0px;
  height: 40vh;
}

.textunder {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

.oculusbg .textunder a {
  text-decoration: none;
}

/* RADIO DIV */

.radiobg {
  background-image: url(./assets/img_10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin: 30px auto 0px;
  height: 40vh;
}

.radiobg a {
  text-decoration: none;
}

.no {
  text-decoration: none;
}

/* FOOTER */

footer {
  text-align: center;
}

.beforeFooter {
  background-color: #364759;
  padding: 10px 0px;
  margin-top: 30px;
}

.beforeFooter a {
  color: white;
}

.footerLogo {
  background-color: #22303f;
}

#footerlogoimg {
  width: 10rem;
  padding: 50px 0px;
}
